$white: #fff;
$blue: #1b42a1;
$bluelight: #249;
$rose: #cb2b4b;
$grey: #c0bdbd;
$greyrgba: rgba(192, 189, 189, .5);
$green: #629848;
$violet: #9632b1;
$yellow: #FFD700;
$orange: #FF4500;
$blackblue: #151823;
$black: #000;
$red: #8B0000;
$greylight: #D3D3D3;